{% extends 'base.html.twig' %}

{% block languages %}
	<li id="rs">
		<a href="{{ path('app_serbian_index') }}">Srpski</a>
	</li>
	<li id="ru">
		<a href="{{ path('app_russian_index') }}">По-русски</a>
	</li>
	<li id="de">
		<a href="{{ path('app_german_aboutus') }}">Deutsch</a>
	</li>
	<li id="hu">
		<a href="{{ path('app_hungarian_aboutus') }}">Magyar</a>
	</li>
{% endblock %}

{% block nav %}
	<li id="oNama">
		<a href="{{ path('app_english_aboutus') }}">About Us</a>
	</li>
	<li id="sorte" class="hasSub">
		<a href="#">Sortiments</a>
		<ul class="sub">
			<li>
				<a href="{{ path('app_english_applestandard') }}">Standard Apple</a>
			</li>
			<li>
				<a href="{{ path('app_english_applecolumnar') }}">Columnar Apple</a>
			</li>
			<li>
				<a href="{{ path('app_english_appleindigenousvarieties') }}">Indigenous Apple Varieties</a>
			</li>
			<li>
				<a href="{{ path('app_english_pear') }}">Pear</a>
			</li>
			<li>
				<a href="{{ path('app_english_quincemedlar') }}">Quince &amp; Medlar</a>
			</li>
			<li>
				<a href="{{ path('app_english_peachnectarine') }}">Peach &amp; Nectarine</a>
			</li>
			<li>
				<a href="{{ path('app_english_apricot') }}">Apricot</a>
			</li>
			<li>
				<a href="{{ path('app_english_plum') }}">Plum</a>
			</li>
			<li>
				<a href="{{ path('app_english_cherrysourcherry') }}">Cherry &amp; Sour Cherry</a>
			</li>
			<li>
				<a href="{{ path('app_english_walnuthazelnutalmond') }}">Walnut, Hazelnut &amp; Almond</a>
			</li>
			<li>
				<a href="{{ path('app_english_cornel') }}">Cornel</a>
			</li>
			<li>
				<a href="{{ path('app_english_currantgooseberryjost') }}">Currant, Gooseberry &amp; Jost</a>
			</li>
			<li>
				<a href="{{ path('app_english_mulberry') }}">Mulberry</a>
			</li>
			<li>
				<a href="{{ path('app_english_columnaranddwarfforms') }}">Columnar &amp; Dwarf Forms</a>
			</li>
		</ul>
	</li>
	<li id="agroTehnika" class="hasSub">
		<a href="#">Agrotechnics</a>
		<ul class="sub">
			<li>
				<a href="{{ path('app_english_planting') }}">Planting</a>
			</li>
			<li>
				<a href="{{ path('app_english_protection') }}">Protection of Seedlings</a>
			</li>
			<li>
				<a href="{{ path('app_english_gallery') }}">Photo Gallery</a>
			</li>
		</ul>
	</li>
	<li id="prodaja" class="hasSub">
		<a href="#">Buy</a>
		<ul class="sub">
			<li>
				<a href="{{ path('app_english_mail') }}">Order by Mail</a>
			</li>
			<li>
				<a href="{{ path('app_english_email') }}">Order Online</a>
			</li>
		</ul>
	</li>
	<li id="kontakt">
		<a href="{{ path('app_english_contact') }}">Contact</a>
	</li>
{% endblock %}
