{% extends 'base.html.twig' %}

{% block languages %}
	<li id="ru">
		<a href="{{ path('app_russian_index') }}">По-русски</a>
	</li>
	<li id="hu">
		<a href="{{ path('app_hungarian_aboutus') }}">Magyar</a>
	</li>
	<li id="en">
		<a href="{{ path('app_english_aboutus') }}">English</a>
	</li>
	<li id="de">
		<a href="{{ path('app_german_aboutus') }}">Deutsch</a>
	</li>
{% endblock %}

{% block nav %}
	<li id="oNama">
		<a href="{{ path('app_serbian_aboutus') }}">O nama</a>
	</li>
	<li id="sorte" class="hasSub">
		<a href="#">Sortimenti</a>
		<ul class="sub">
			<li>
				<a href="{{ path('app_serbian_applestandard') }}">Standardna jabuka</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_applecolumnar') }}">Stubasta jabuka</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_appleindigenousvarieties') }}">Autohtone sorte jabuke</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_pear') }}">Kruška</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_quincemedlar') }}">Dunja i mušmula</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_peachnectarine') }}">Breskva i nektarina</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_apricot') }}">Kajsija</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_plum') }}">Šljiva</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_cherrysourcherry') }}">Trešnja i višnja</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_walnuthazelnutalmond') }}">Orah, leska i badem</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_cornel') }}">Dren</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_currantgooseberryjost') }}">Ribizla, josta i ogrozd</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_mulberry') }}">Dud</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_columnaranddwarfforms') }}">Stubaste i patuljaste forme</a>
			</li>
		</ul>
	</li>
	<li id="agroTehnika" class="hasSub">
		<a href="#">Agrotehnika</a>
		<ul class="sub">
			<li>
				<a href="{{ path('app_serbian_planting') }}">Sadnja</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_protection') }}">Zaštita sadnica</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_gallery') }}">Galerija slika</a>
			</li>
		</ul>
	</li>
	<li id="prodaja" class="hasSub">
		<a href="#">Prodaja</a>
		<ul class="sub">
			<li>
				<a href="{{ path('app_serbian_mail') }}">Narudžbina poštom</a>
			</li>
			<li>
				<a href="{{ path('app_serbian_email') }}">Online narudžbina</a>
			</li>
		</ul>
	</li>
	<li id="kontakt">
		<a href="{{ path('app_serbian_contact') }}">Kontakt</a>
	</li>
{% endblock %}
